.mini-music-player {
  width: 100%;
  position: fixed;
  bottom: 0;
  transform: translateY(150%);
  height: 3.5rem;
  z-index: 10;
  margin-bottom: 0.6rem;
  transition: all 0.3s linear;
  padding: 0 1rem;
}

.mini-music-player.active {
  transform: translateY(0);
}

.music-menus {
  background-color: #731e16;
  height: 100%;
  width: 100%;
  max-width: 412px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 0.3rem;
}

.music-details {
  display: flex;
}

.music-details img {
  width: 100%;
  height: 100%;
  width: 45px;
  border-radius: 5px;
  cursor: pointer;
}

.song-name {
  width: 100%;
  max-width: 200px;
  max-height: 21px;
  cursor: pointer;
  margin: auto 1rem;
  overflow: scroll;
}

.mini-player-artist-name {
  display: none;
}

.song-name::-webkit-scrollbar {
  width: 0;
}

.song-name p {
  word-wrap: break-word;
}

.mini-player-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.desktop-media-control {
  display: none;
}

.mini-player-options img {
  cursor: pointer;
  width: 100%;
  max-width: 25px;
  transition: all 0.3s linear;
}

@media screen and (min-width: 750px) {
  .mini-music-player {
    margin-bottom: 0;
    padding: 0;
    height: 6rem;
    z-index: 40;
  }

  .music-menus {
    max-width: 100%;
    justify-content: center;
    background-color: rgb(29, 29, 29);
  }

  .song-name {
    min-width: 200px;
    max-height: 50px;
    cursor: auto;
    overflow: hidden;
  }

  .music-details img {
    min-width: 70px;
    max-width: 70px;
    cursor: auto;
  }

  .mini-player-song-name {
    height: 35px;
    overflow: scroll;
    width: 100%;
  }

  .mini-player-artist-name {
    display: block;
    font-size: small;
    color: gainsboro;
    margin-top: 1px;
  }

  .desktop-media-control {
    display: block;
    cursor: pointer;
  }
}

@media screen and (min-width: 1000px) {
  .mini-music-player {
    z-index: 20;
  }
}
