* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* hide scrollbar */
*::-webkit-scrollbar {
  display: none;
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}

.nav {
  background-color: #731e16;
  display: flex;
  color: white;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 6rem;
  height: 100%;
}

.sidebar {
  display: none;
}

body {
  background: linear-gradient(-40deg, black 70%, firebrick);
  background-attachment: fixed;
  height: 100%;
}

.main-content {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  height: 90vh;
  color: white;
}

.music-and-category-name {
  width: 100%;
}

.music-and-category-name:last-child {
  padding-bottom: 5rem;
}

.music {
  display: flex;
  align-items: center;
  min-height: 10rem;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.music::-webkit-scrollbar {
  width: 0;
}

.media {
  max-width: 8.2rem;
  min-width: 8.2rem;
  height: 8.2rem;
  position: relative;
  display: inline-block;
  margin-left: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.media:last-child {
  margin-right: 0.9rem;
}

.media-name {
  margin-top: 0.6rem;
  font-weight: 600;
  font-size: 0.7rem;
  text-align: center;
}

.category-name {
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}

.ham-menu,
.search {
  cursor: pointer;
}

.desktop-menu {
  display: none;
}

.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  transform: translateX(100%);
  background-color: black;
  overflow-x: hidden;
  padding-top: 2rem;
  padding-left: 2.2rem;
  transition: transform 0.5s ease-in-out;
}

.sidenav.active {
  transform: translateX(0);
}

body.active {
  overflow: hidden;
}

.close {
  width: fit-content;
  float: right;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  cursor: pointer;
}

.options {
  margin-top: 2.5rem;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.divider {
  color: white;
  font-weight: bold;
  margin: 0.5rem 0;
}

.auth,
.others {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.8rem 0;
}

.others {
  font-size: 1.5rem;
}

@media screen and (min-width: 1000px) {
  .nav {
    background-color: rgb(27, 25, 25);
    opacity: 0.95;
  }
  body {
    background: linear-gradient(0, rgb(29, 29, 29), rgb(29, 29, 29));
  }

  .music-and-category-name:last-child {
    padding-bottom: 8rem;
  }

  .menu {
    gap: 1rem;
  }

  .ham-menu,
  .search {
    display: none;
  }

  .desktop-menu {
    display: block;
    font-weight: 500;
  }

  .desktop-menu a {
    color: gainsboro;
  }

  .desktop-menu a:hover {
    color: white;
  }

  .divider {
    color: white;
    font-weight: lighter;
    font-size: 1.2rem;
  }

  .login {
    /* border: 2px solid red; */
    text-align: center;
    background-color: white;
    border-radius: 100px;
    padding: 0.7rem 1.5rem;
  }

  .login a,
  .login a:hover {
    color: black;
  }

  .login:hover {
    cursor: pointer;
    transition: transform 0.1s ease-in;
    transform: scale(1.1);
  }

  .sidebar {
    display: block;
    background-color: black;
    width: 30%;
    max-width: 262px;
    position: fixed;
    z-index: 30;
    top: 0;
    bottom: 0;
    padding: 0 1rem;
  }

  .main-content {
    margin-left: 262px;
  }

  .sidebar__logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }

  .sidebar__logo-text {
    width: 100%;
    padding-top: 1.5rem;
  }

  .sidebar__audionest-icon {
    width: 100%;
    max-width: 32px;
  }

  .sidebar h1 {
    color: white;
    margin-bottom: 2rem;
  }

  .sidebar ul {
    margin-bottom: 2rem;
  }

  .sidebar li {
    margin-bottom: 1rem;
  }

  .sidebar a {
    font-weight: bold;
    color: gainsboro;
  }

  .sidebar a:hover {
    transition: color 0.3s ease-in;
    color: white;
  }

  .sidebar__a {
    display: flex;
    align-items: center;
  }

  .sidebar svg {
    margin-right: 0.5rem;
  }
}
